<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hot</key>
	<dict>
		<key>北京</key>
		<string>101010100</string>
		<key>上海</key>
		<string>101020100</string>
	</dict>
	<key>中国基础</key>
	<dict>
		<key>北京市</key>
		<dict>
			<key>北京市</key>
			<string>101010100</string>
		</dict>
		<key>上海市</key>
		<dict>
			<key>上海市</key>
			<string>101020100</string>
		</dict>
		<key>天津市</key>
		<dict>
			<key>天津市</key>
			<string>101030100</string>
		</dict>
		<key>重庆市</key>
		<dict>
			<key>重庆市</key>
			<string>101040100</string>
		</dict>
		<key>黑龙江省</key>
		<dict>
			<key>哈尔滨市</key>
			<string>101050101</string>
			<key>齐齐哈尔市</key>
			<string>101050201</string>
			<key>牡丹江市</key>
			<string>101050301</string>
			<key>佳木斯市</key>
			<string>101050401</string>
			<key>绥化市</key>
			<string>101050501</string>
			<key>黑河市</key>
			<string>101050601</string>
			<key>大兴安岭市</key>
			<string>101050701</string>
			<key>伊春市</key>
			<string>101050801</string>
			<key>大庆市</key>
			<string>101050901</string>
			<key>七台河市</key>
			<string>101051002</string>
			<key>鸡西市</key>
			<string>101051101</string>
			<key>鹤岗市</key>
			<string>101051201</string>
			<key>双鸭山市</key>
			<string>101051301</string>
		</dict>
		<key>吉林省</key>
		<dict>
			<key>长春市</key>
			<string>101060101</string>
			<key>吉林市</key>
			<string>101060201</string>
			<key>延吉市</key>
			<string>101060301</string>
			<key>四平市</key>
			<string>101060401</string>
			<key>通化市</key>
			<string>101060501</string>
			<key>白城市</key>
			<string>101060601</string>
			<key>辽源市</key>
			<string>101060701</string>
			<key>松原市</key>
			<string>101060801</string>
			<key>白山市</key>
			<string>101060901</string>
		</dict>
		<key>辽宁省</key>
		<dict>
			<key>沈阳市</key>
			<string>101070101</string>
			<key>大连市</key>
			<string>101070201</string>
			<key>鞍山市</key>
			<string>101070301</string>
			<key>抚顺市</key>
			<string>101070401</string>
			<key>本溪市</key>
			<string>101070501</string>
			<key>丹东市</key>
			<string>101070601</string>
			<key>锦州市</key>
			<string>101070701</string>
			<key>营口市</key>
			<string>101070801</string>
			<key>阜新市</key>
			<string>101070901</string>
			<key>辽阳市</key>
			<string>101071001</string>
			<key>铁岭市</key>
			<string>101071101</string>
			<key>朝阳市</key>
			<string>101071201</string>
			<key>盘锦市</key>
			<string>101071301</string>
			<key>葫芦岛市</key>
			<string>101071401</string>
		</dict>
		<key>内蒙古</key>
		<dict>
			<key>呼和浩特市</key>
			<string>101080101</string>
			<key>包头市</key>
			<string>101080201</string>
			<key>乌海市</key>
			<string>101080301</string>
			<key>集宁市</key>
			<string>101080401</string>
			<key>通辽市</key>
			<string>101080501</string>
			<key>赤峰市</key>
			<string>101080601</string>
			<key>鄂尔多斯市</key>
			<string>101080701</string>
			<key>临河市</key>
			<string>101080801</string>
			<key>锡林浩特市</key>
			<string>101080901</string>
			<key>海拉尔市</key>
			<string>101081001</string>
			<key>乌兰浩特市</key>
			<string>101081101</string>
			<key>阿左旗市</key>
			<string>101081201</string>
		</dict>
		<key>河北省</key>
		<dict>
			<key>石家庄市</key>
			<string>101090101</string>
			<key>保定市</key>
			<string>101090201</string>
			<key>张家口市</key>
			<string>101090301</string>
			<key>承德市</key>
			<string>101090402</string>
			<key>唐山市</key>
			<string>101090501</string>
			<key>廊坊市</key>
			<string>101090601</string>
			<key>沧州市</key>
			<string>101090701</string>
			<key>衡水市</key>
			<string>101090801</string>
			<key>邢台市</key>
			<string>101090901</string>
			<key>邯郸市</key>
			<string>101091001</string>
			<key>秦皇岛市</key>
			<string>101091101</string>
		</dict>
		<key>山西省</key>
		<dict>
			<key>太原市</key>
			<string>101100101</string>
			<key>大同市</key>
			<string>101100201</string>
			<key>阳泉市</key>
			<string>101100301</string>
			<key>晋中市</key>
			<string>101100401</string>
			<key>长治市</key>
			<string>101100501</string>
			<key>晋城市</key>
			<string>101100601</string>
			<key>临汾市</key>
			<string>101100701</string>
			<key>运城市</key>
			<string>101100801</string>
			<key>朔州市</key>
			<string>101100901</string>
			<key>忻州市</key>
			<string>101101001</string>
			<key>吕梁市</key>
			<string>101101100</string>
		</dict>
		<key>陕西省</key>
		<dict>
			<key>西安市</key>
			<string>101110101</string>
			<key>咸阳市</key>
			<string>101110200</string>
			<key>延安市</key>
			<string>101110300</string>
			<key>榆林市</key>
			<string>101110401</string>
			<key>渭南市</key>
			<string>101110501</string>
			<key>商洛市</key>
			<string>101110601</string>
			<key>安康市</key>
			<string>101110701</string>
			<key>汉中市</key>
			<string>101110801</string>
			<key>宝鸡市</key>
			<string>101110901</string>
			<key>铜川市</key>
			<string>101111001</string>
			<key>杨凌市</key>
			<string>101111101</string>
		</dict>
		<key>山东省</key>
		<dict>
			<key>济南市</key>
			<string>101120101</string>
			<key>青岛市</key>
			<string>101120201</string>
			<key>淄博市</key>
			<string>101120301</string>
			<key>德州市</key>
			<string>101120401</string>
			<key>烟台市</key>
			<string>101120501</string>
			<key>潍坊市</key>
			<string>101120601</string>
			<key>济宁市</key>
			<string>101120701</string>
			<key>泰安市</key>
			<string>101120801</string>
			<key>临沂市</key>
			<string>101120901</string>
			<key>菏泽市</key>
			<string>101121001</string>
			<key>滨州市</key>
			<string>101121101</string>
			<key>东营市</key>
			<string>101121201</string>
			<key>威海市</key>
			<string>101121301</string>
			<key>枣庄市</key>
			<string>101121401</string>
			<key>日照市</key>
			<string>101121501</string>
			<key>莱芜市</key>
			<string>101121601</string>
			<key>聊城市</key>
			<string>101121701</string>
		</dict>
		<key>新疆省</key>
		<dict>
			<key>乌鲁木齐市</key>
			<string>101130101</string>
			<key>克拉玛依市</key>
			<string>101130201</string>
			<key>石河子市</key>
			<string>101130301</string>
			<key>昌吉市</key>
			<string>101130401</string>
			<key>吐鲁番市</key>
			<string>101130501</string>
			<key>库尔勒市</key>
			<string>101130601</string>
			<key>阿拉尔市</key>
			<string>101130701</string>
			<key>阿克苏市</key>
			<string>101130801</string>
			<key>喀什市</key>
			<string>101130901</string>
			<key>伊宁市</key>
			<string>101131001</string>
			<key>塔城市</key>
			<string>101131101</string>
			<key>哈密市</key>
			<string>101131201</string>
			<key>和田市</key>
			<string>101131301</string>
			<key>阿勒泰市</key>
			<string>101131401</string>
			<key>阿图什市</key>
			<string>101131501</string>
			<key>博乐市</key>
			<string>101131601</string>
		</dict>
		<key>西藏省</key>
		<dict>
			<key>拉萨市</key>
			<string>101140101</string>
			<key>日喀则市</key>
			<string>101140201</string>
			<key>山南市</key>
			<string>101140301</string>
			<key>林芝市</key>
			<string>101140401</string>
			<key>昌都市</key>
			<string>101140501</string>
			<key>那曲市</key>
			<string>101140601</string>
			<key>阿里市</key>
			<string>101140701</string>
		</dict>
		<key>青海省</key>
		<dict>
			<key>西宁市</key>
			<string>101150101</string>
			<key>海东市</key>
			<string>101150201</string>
			<key>黄南市</key>
			<string>101150301</string>
			<key>海南市</key>
			<string>101150401</string>
			<key>果洛市</key>
			<string>101150501</string>
			<key>玉树市</key>
			<string>101150601</string>
			<key>海西市</key>
			<string>101150701</string>
			<key>海北市</key>
			<string>101150801</string>
			<key>格尔木市</key>
			<string>101150901</string>
		</dict>
		<key>甘肃省</key>
		<dict>
			<key>兰州市</key>
			<string>101160101</string>
			<key>定西市</key>
			<string>101160201</string>
			<key>平凉市</key>
			<string>101160301</string>
			<key>庆阳市</key>
			<string>101160401</string>
			<key>武威市</key>
			<string>101160501</string>
			<key>金昌市</key>
			<string>101160601</string>
			<key>张掖市</key>
			<string>101160701</string>
			<key>酒泉市</key>
			<string>101160801</string>
			<key>天水市</key>
			<string>101160901</string>
			<key>武都市</key>
			<string>101161001</string>
			<key>临夏市</key>
			<string>101161101</string>
			<key>合作市</key>
			<string>101161201</string>
			<key>白银市</key>
			<string>101161301</string>
			<key>嘉峪关市</key>
			<string>101161401</string>
		</dict>
		<key>宁夏省</key>
		<dict>
			<key>银川市</key>
			<string>101170101</string>
			<key>石嘴山市</key>
			<string>101170201</string>
			<key>吴忠市</key>
			<string>101170301</string>
			<key>固原市</key>
			<string>101170401</string>
			<key>中卫市</key>
			<string>101170501</string>
		</dict>
		<key>河南省</key>
		<dict>
			<key>郑州市</key>
			<string>101180101</string>
			<key>安阳市</key>
			<string>101180201</string>
			<key>新乡市</key>
			<string>101180301</string>
			<key>许昌市</key>
			<string>101180401</string>
			<key>平顶山市</key>
			<string>101180501</string>
			<key>信阳市</key>
			<string>101180601</string>
			<key>南阳市</key>
			<string>101180701</string>
			<key>开封市</key>
			<string>101180801</string>
			<key>洛阳市</key>
			<string>101180901</string>
			<key>商丘市</key>
			<string>101181001</string>
			<key>焦作市</key>
			<string>101181101</string>
			<key>鹤壁市</key>
			<string>101181201</string>
			<key>濮阳市</key>
			<string>101181301</string>
			<key>周口市</key>
			<string>101181401</string>
			<key>漯河市</key>
			<string>101181501</string>
			<key>驻马店市</key>
			<string>101181601</string>
			<key>三门峡市</key>
			<string>101181701</string>
			<key>济源市</key>
			<string>101181801</string>
		</dict>
		<key>江苏省</key>
		<dict>
			<key>南京市</key>
			<string>101190101</string>
			<key>无锡市</key>
			<string>101190201</string>
			<key>镇江市</key>
			<string>101190301</string>
			<key>苏州市</key>
			<string>101190401</string>
			<key>南通市</key>
			<string>101190501</string>
			<key>扬州市</key>
			<string>101190601</string>
			<key>盐城市</key>
			<string>101190701</string>
			<key>徐州市</key>
			<string>101190801</string>
			<key>淮安市</key>
			<string>101190901</string>
			<key>连云港市</key>
			<string>101191001</string>
			<key>常州市</key>
			<string>101191101</string>
			<key>泰州市</key>
			<string>101191201</string>
			<key>宿迁市</key>
			<string>101191301</string>
		</dict>
		<key>湖北省</key>
		<dict>
			<key>武汉市</key>
			<string>101200101</string>
			<key>襄阳市</key>
			<string>101200201</string>
			<key>鄂州市</key>
			<string>101200301</string>
			<key>孝感市</key>
			<string>101200401</string>
			<key>黄冈市</key>
			<string>101200501</string>
			<key>黄石市</key>
			<string>101200601</string>
			<key>咸宁市</key>
			<string>101200701</string>
			<key>荆州市</key>
			<string>101200801</string>
			<key>宜昌市</key>
			<string>101200901</string>
			<key>恩施市</key>
			<string>101201001</string>
			<key>十堰市</key>
			<string>101201101</string>
			<key>神农架市</key>
			<string>101201201</string>
			<key>随州市</key>
			<string>101201301</string>
			<key>荆门市</key>
			<string>101201401</string>
			<key>天门市</key>
			<string>101201501</string>
			<key>仙桃市</key>
			<string>101201601</string>
			<key>潜江市</key>
			<string>101201701</string>
		</dict>
		<key>浙江省</key>
		<dict>
			<key>杭州市</key>
			<string>101210101</string>
			<key>湖州市</key>
			<string>101210201</string>
			<key>嘉兴市</key>
			<string>101210301</string>
			<key>宁波市</key>
			<string>101210401</string>
			<key>绍兴市</key>
			<string>101210501</string>
			<key>台州市</key>
			<string>101210601</string>
			<key>温州市</key>
			<string>101210701</string>
			<key>丽水市</key>
			<string>101210801</string>
			<key>金华市</key>
			<string>101210901</string>
			<key>衢州市</key>
			<string>101211001</string>
			<key>舟山市</key>
			<string>101211101</string>
		</dict>
		<key>安徽省</key>
		<dict>
			<key>合肥市</key>
			<string>101220101</string>
			<key>蚌埠市</key>
			<string>101220201</string>
			<key>芜湖市</key>
			<string>101220301</string>
			<key>淮南市</key>
			<string>101220401</string>
			<key>马鞍山市</key>
			<string>101220501</string>
			<key>安庆市</key>
			<string>101220601</string>
			<key>宿州市</key>
			<string>101220701</string>
			<key>阜阳市</key>
			<string>101220801</string>
			<key>亳州市</key>
			<string>101220901</string>
			<key>黄山市</key>
			<string>101221001</string>
			<key>滁州市</key>
			<string>101221101</string>
			<key>淮北市</key>
			<string>101221201</string>
			<key>铜陵市</key>
			<string>101221301</string>
			<key>宣城市</key>
			<string>101221401</string>
			<key>六安市</key>
			<string>101221501</string>
			<key>池州市</key>
			<string>101221701</string>
		</dict>
		<key>福建省</key>
		<dict>
			<key>福州市</key>
			<string>101230101</string>
			<key>厦门市</key>
			<string>101230201</string>
			<key>宁德市</key>
			<string>101230301</string>
			<key>莆田市</key>
			<string>101230401</string>
			<key>泉州市</key>
			<string>101230501</string>
			<key>漳州市</key>
			<string>101230601</string>
			<key>龙岩市</key>
			<string>101230701</string>
			<key>三明市</key>
			<string>101230801</string>
			<key>南平市</key>
			<string>101230901</string>
		</dict>
		<key>江西省</key>
		<dict>
			<key>南昌市</key>
			<string>101240101</string>
			<key>九江市</key>
			<string>101240201</string>
			<key>上饶市</key>
			<string>101240301</string>
			<key>抚州市</key>
			<string>101240401</string>
			<key>宜春市</key>
			<string>101240501</string>
			<key>吉安市</key>
			<string>101240601</string>
			<key>赣州市</key>
			<string>101240701</string>
			<key>景德镇市</key>
			<string>101240801</string>
			<key>萍乡市</key>
			<string>101240901</string>
			<key>新余市</key>
			<string>101241001</string>
			<key>鹰潭市</key>
			<string>101241101</string>
		</dict>
		<key>湖南省</key>
		<dict>
			<key>长沙市</key>
			<string>101250101</string>
			<key>湘潭市</key>
			<string>101250201</string>
			<key>株洲市</key>
			<string>101250301</string>
			<key>衡阳市</key>
			<string>101250401</string>
			<key>郴州市</key>
			<string>101250501</string>
			<key>常德市</key>
			<string>101250601</string>
			<key>益阳市</key>
			<string>101250700</string>
			<key>娄底市</key>
			<string>101250801</string>
			<key>邵阳市</key>
			<string>101250901</string>
			<key>岳阳市</key>
			<string>101251001</string>
			<key>张家界市</key>
			<string>101251101</string>
			<key>怀化市</key>
			<string>101251201</string>
			<key>永州市</key>
			<string>101251401</string>
			<key>吉首市</key>
			<string>101251501</string>
		</dict>
		<key>贵州省</key>
		<dict>
			<key>贵阳市</key>
			<string>101260101</string>
			<key>遵义市</key>
			<string>101260201</string>
			<key>安顺市</key>
			<string>101260301</string>
			<key>都匀市</key>
			<string>101260401</string>
			<key>凯里市</key>
			<string>101260501</string>
			<key>铜仁市</key>
			<string>101260601</string>
			<key>毕节市</key>
			<string>101260701</string>
			<key>水城市</key>
			<string>101260801</string>
			<key>兴义市</key>
			<string>101260901</string>
		</dict>
		<key>四川省</key>
		<dict>
			<key>成都市</key>
			<string>101270101</string>
			<key>攀枝花市</key>
			<string>101270201</string>
			<key>自贡市</key>
			<string>101270301</string>
			<key>绵阳市</key>
			<string>101270401</string>
			<key>南充市</key>
			<string>101270501</string>
			<key>达州市</key>
			<string>101270601</string>
			<key>遂宁市</key>
			<string>101270701</string>
			<key>广安市</key>
			<string>101270801</string>
			<key>巴中市</key>
			<string>101270901</string>
			<key>泸州市</key>
			<string>101271001</string>
			<key>宜宾市</key>
			<string>101271101</string>
			<key>内江市</key>
			<string>101271201</string>
			<key>资阳市</key>
			<string>101271301</string>
			<key>乐山市</key>
			<string>101271401</string>
			<key>眉山市</key>
			<string>101271501</string>
			<key>凉山市</key>
			<string>101271601</string>
			<key>雅安市</key>
			<string>101271701</string>
			<key>甘孜市</key>
			<string>101271801</string>
			<key>阿坝市</key>
			<string>101271901</string>
			<key>德阳市</key>
			<string>101272001</string>
			<key>广元市</key>
			<string>101272101</string>
		</dict>
		<key>广东省</key>
		<dict>
			<key>广州市</key>
			<string>101280101</string>
			<key>韶关市</key>
			<string>101280201</string>
			<key>惠州市</key>
			<string>101280301</string>
			<key>梅州市</key>
			<string>101280401</string>
			<key>汕头市</key>
			<string>101280501</string>
			<key>深圳市</key>
			<string>101280601</string>
			<key>珠海市</key>
			<string>101280701</string>
			<key>佛山市</key>
			<string>101280800</string>
			<key>肇庆市</key>
			<string>101280901</string>
			<key>湛江市</key>
			<string>101281001</string>
			<key>江门市</key>
			<string>101281101</string>
			<key>河源市</key>
			<string>101281201</string>
			<key>清远市</key>
			<string>101281301</string>
			<key>云浮市</key>
			<string>101281401</string>
			<key>潮州市</key>
			<string>101281501</string>
			<key>东莞市</key>
			<string>101281601</string>
			<key>中山市</key>
			<string>101281701</string>
			<key>阳江市</key>
			<string>101281801</string>
			<key>揭阳市</key>
			<string>101281901</string>
			<key>茂名市</key>
			<string>101282001</string>
			<key>汕尾市</key>
			<string>101282101</string>
		</dict>
		<key>云南省</key>
		<dict>
			<key>昆明市</key>
			<string>101290101</string>
			<key>大理市</key>
			<string>101290201</string>
			<key>红河市</key>
			<string>101290301</string>
			<key>曲靖市</key>
			<string>101290401</string>
			<key>保山市</key>
			<string>101290501</string>
			<key>文山市</key>
			<string>101290601</string>
			<key>玉溪市</key>
			<string>101290701</string>
			<key>楚雄市</key>
			<string>101290801</string>
			<key>普洱市</key>
			<string>101290901</string>
			<key>昭通市</key>
			<string>101291001</string>
			<key>临沧市</key>
			<string>101291101</string>
			<key>怒江市</key>
			<string>101291201</string>
			<key>香格里拉市</key>
			<string>101291301</string>
			<key>丽江市</key>
			<string>101291401</string>
			<key>德宏市</key>
			<string>101291501</string>
			<key>景洪市</key>
			<string>101291601</string>
		</dict>
		<key>广西省</key>
		<dict>
			<key>南宁市</key>
			<string>101300101</string>
			<key>崇左市</key>
			<string>101300201</string>
			<key>柳州市</key>
			<string>101300301</string>
			<key>来宾市</key>
			<string>101300401</string>
			<key>桂林市</key>
			<string>101300501</string>
			<key>梧州市</key>
			<string>101300601</string>
			<key>贺州市</key>
			<string>101300701</string>
			<key>贵港市</key>
			<string>101300801</string>
			<key>玉林市</key>
			<string>101300901</string>
			<key>百色市</key>
			<string>101301001</string>
			<key>钦州市</key>
			<string>101301101</string>
			<key>河池市</key>
			<string>101301201</string>
			<key>北海市</key>
			<string>101301301</string>
			<key>防城港市</key>
			<string>101301401</string>
		</dict>
		<key>海南省</key>
		<dict>
			<key>海口市</key>
			<string>101310101</string>
			<key>三亚市</key>
			<string>101310201</string>
			<key>东方市</key>
			<string>101310202</string>
			<key>临高市</key>
			<string>101310203</string>
			<key>澄迈市</key>
			<string>101310204</string>
			<key>儋州市</key>
			<string>101310205</string>
			<key>昌江市</key>
			<string>101310206</string>
			<key>白沙市</key>
			<string>101310207</string>
			<key>琼中市</key>
			<string>101310208</string>
			<key>定安市</key>
			<string>101310209</string>
			<key>屯昌市</key>
			<string>101310210</string>
			<key>琼海市</key>
			<string>101310211</string>
			<key>文昌市</key>
			<string>101310212</string>
			<key>保亭市</key>
			<string>101310214</string>
			<key>万宁市</key>
			<string>101310215</string>
			<key>陵水市</key>
			<string>101310216</string>
			<key>西沙市</key>
			<string>101310217</string>
			<key>南沙市</key>
			<string>101310220</string>
			<key>乐东市</key>
			<string>101310221</string>
			<key>五指山市</key>
			<string>101310222</string>
			<key>中沙市</key>
			<string>101310224</string>
			<key>南子岛市</key>
			<string>101310230</string>
		</dict>
		<key>香港</key>
		<dict>
			<key>香港</key>
			<string>101320101</string>
		</dict>
		<key>澳门</key>
		<dict>
			<key>澳门</key>
			<string>101330101</string>
		</dict>
		<key>台湾省</key>
		<dict>
			<key>台北市</key>
			<string>101340101</string>
			<key>高雄市</key>
			<string>101340201</string>
			<key>台中市</key>
			<string>101340401</string>
		</dict>
	</dict>
	<key>中国</key>
	<dict>
		<key>浙江省</key>
		<dict>
			<key>杭州市</key>
			<dict>
				<key>杭州</key>
				<string>101210101</string>
				<key>萧山</key>
				<string>101210102</string>
				<key>桐庐</key>
				<string>101210103</string>
				<key>淳安</key>
				<string>101210104</string>
				<key>建德</key>
				<string>101210105</string>
				<key>余杭</key>
				<string>101210106</string>
				<key>临安</key>
				<string>101210107</string>
				<key>富阳</key>
				<string>101210108</string>
			</dict>
			<key>湖州</key>
			<dict>
				<key>湖州</key>
				<string>101210201</string>
				<key>长兴</key>
				<string>101210202</string>
				<key>安吉</key>
				<string>101210203</string>
				<key>德清</key>
				<string>101210204</string>
			</dict>
			<key>嘉兴</key>
			<dict>
				<key>嘉兴</key>
				<string>101210301</string>
				<key>嘉善</key>
				<string>101210302</string>
				<key>海宁</key>
				<string>101210303</string>
				<key>桐乡</key>
				<string>101210304</string>
				<key>平湖</key>
				<string>101210305</string>
				<key>海盐</key>
				<string>101210306</string>
			</dict>
			<key>宁波</key>
			<dict>
				<key>宁波</key>
				<string>101210401</string>
				<key>慈溪</key>
				<string>101210403</string>
				<key>余姚</key>
				<string>101210404</string>
				<key>奉化</key>
				<string>101210405</string>
				<key>象山</key>
				<string>101210406</string>
				<key>宁海</key>
				<string>101210408</string>
				<key>北仑</key>
				<string>101210410</string>
				<key>鄞州</key>
				<string>101210411</string>
				<key>镇海</key>
				<string>101210412</string>
			</dict>
			<key>绍兴</key>
			<dict>
				<key>越城</key>
				<string>101210501</string>
				<key>诸暨</key>
				<string>101210502</string>
				<key>上虞</key>
				<string>101210503</string>
				<key>新昌</key>
				<string>101210504</string>
				<key>嵊州</key>
				<string>101210505</string>
				<key>柯桥</key>
				<string>101210506</string>
			</dict>
			<key>台州</key>
			<dict>
				<key>台州</key>
				<string>101210601</string>
				<key>玉环</key>
				<string>101210603</string>
				<key>三门</key>
				<string>101210604</string>
				<key>天台</key>
				<string>101210605</string>
				<key>仙居</key>
				<string>101210606</string>
				<key>温岭</key>
				<string>101210607</string>
				<key>洪家</key>
				<string>101210609</string>
				<key>临海</key>
				<string>101210610</string>
				<key>椒江</key>
				<string>101210611</string>
				<key>黄岩</key>
				<string>101210612</string>
				<key>路桥</key>
				<string>101210613</string>
			</dict>
			<key>温州</key>
			<dict>
				<key>温州</key>
				<string>101210701</string>
				<key>泰顺</key>
				<string>101210702</string>
				<key>文成</key>
				<string>101210703</string>
				<key>平阳</key>
				<string>101210704</string>
				<key>瑞安</key>
				<string>101210705</string>
				<key>洞头</key>
				<string>101210706</string>
				<key>乐清</key>
				<string>101210707</string>
				<key>永嘉</key>
				<string>101210708</string>
				<key>苍南</key>
				<string>101210709</string>
			</dict>
			<key>丽水</key>
			<dict>
				<key>丽水</key>
				<string>101210801</string>
				<key>遂昌</key>
				<string>101210802</string>
				<key>龙泉</key>
				<string>101210803</string>
				<key>缙云</key>
				<string>101210804</string>
				<key>青田</key>
				<string>101210805</string>
				<key>云和</key>
				<string>101210806</string>
				<key>庆元</key>
				<string>101210807</string>
				<key>松阳</key>
				<string>101210808</string>
				<key>景宁</key>
				<string>101210809</string>
			</dict>
			<key>金华</key>
			<dict>
				<key>金华</key>
				<string>101210901</string>
				<key>浦江</key>
				<string>101210902</string>
				<key>兰溪</key>
				<string>101210903</string>
				<key>义乌</key>
				<string>101210904</string>
				<key>东阳</key>
				<string>101210905</string>
				<key>武义</key>
				<string>101210906</string>
				<key>永康</key>
				<string>101210907</string>
				<key>磐安</key>
				<string>101210908</string>
			</dict>
			<key>衢州</key>
			<dict>
				<key>衢州</key>
				<string>101211001</string>
				<key>常山</key>
				<string>101211002</string>
				<key>开化</key>
				<string>101211003</string>
				<key>龙游</key>
				<string>101211004</string>
				<key>江山</key>
				<string>101211005</string>
				<key>衢江</key>
				<string>101211006</string>
			</dict>
			<key>舟山</key>
			<dict>
				<key>舟山</key>
				<string>101211101</string>
				<key>嵊泗</key>
				<string>101211102</string>
				<key>岱山</key>
				<string>101211104</string>
				<key>普陀</key>
				<string>101211105</string>
				<key>定海</key>
				<string>101211106</string>
			</dict>
		</dict>
		<key>北京</key>
		<dict>
			<key>北京</key>
			<dict>
				<key>北京</key>
				<string>101010100</string>
				<key>海淀</key>
				<string>101010200</string>
				<key>朝阳</key>
				<string>101010300</string>
				<key>顺义</key>
				<string>101010400</string>
				<key>怀柔</key>
				<string>101010500</string>
				<key>通州</key>
				<string>101010600</string>
				<key>昌平</key>
				<string>101010700</string>
				<key>延庆</key>
				<string>101010800</string>
				<key>丰台</key>
				<string>101010900</string>
				<key>石景山</key>
				<string>101011000</string>
				<key>大兴</key>
				<string>101011100</string>
				<key>房山</key>
				<string>101011200</string>
				<key>密云</key>
				<string>101011300</string>
				<key>门头沟</key>
				<string>101011400</string>
				<key>平谷</key>
				<string>101011500</string>
			</dict>
		</dict>
		<key>上海</key>
		<dict>
			<key>上海</key>
			<dict>
				<key>上海</key>
				<string>101020100</string>
				<key>闵行</key>
				<string>101020200</string>
				<key>宝山</key>
				<string>101020300</string>
				<key>嘉定</key>
				<string>101020500</string>
				<key>浦东新区	</key>
				<string>101020600</string>
				<key>金山</key>
				<string>101020700</string>
				<key>青浦</key>
				<string>101020800</string>
				<key>松江</key>
				<string>101020900</string>
				<key>奉贤</key>
				<string>101021000</string>
				<key>崇明</key>
				<string>101021100</string>
				<key>徐汇</key>
				<string>101021200</string>
			</dict>
		</dict>
		<key>天津</key>
		<dict>
			<key>天津</key>
			<dict>
				<key>天津</key>
				<string>101030100</string>
				<key>武清</key>
				<string>101030200</string>
				<key>宝坻</key>
				<string>101030300</string>
				<key>东丽</key>
				<string>101030400</string>
				<key>西青</key>
				<string>101030500</string>
				<key>北辰</key>
				<string>101030600</string>
				<key>宁河</key>
				<string>101030700</string>
				<key>静海</key>
				<string>101030900</string>
				<key>津南</key>
				<string>101031000</string>
				<key>滨海新区</key>
				<string>101031100</string>
				<key>蓟县</key>
				<string>101031400</string>
			</dict>
		</dict>
		<key>重庆</key>
		<dict>
			<key>重庆</key>
			<dict>
				<key>重庆</key>
				<string>101040100</string>
				<key>永川</key>
				<string>101040200</string>
				<key>合川</key>
				<string>101040300</string>
				<key>南川</key>
				<string>101040400</string>
				<key>江津</key>
				<string>101040500</string>
				<key>万盛</key>
				<string>101040600</string>
				<key>渝北</key>
				<string>101040700</string>
				<key>北碚</key>
				<string>101040800</string>
				<key>巴南</key>
				<string>101040900</string>
				<key>长寿</key>
				<string>101041000</string>
				<key>黔江</key>
				<string>101041100</string>
				<key>万州</key>
				<string>101041300</string>
				<key>涪陵</key>
				<string>101041400</string>
				<key>开县</key>
				<string>101041500</string>
				<key>城口</key>
				<string>101041600</string>
				<key>云阳</key>
				<string>101041700</string>
				<key>巫溪</key>
				<string>101041800</string>
				<key>奉节</key>
				<string>101041900</string>
				<key>巫山</key>
				<string>101042000</string>
				<key>潼南</key>
				<string>101042100</string>
				<key>垫江</key>
				<string>101042200</string>
				<key>梁平</key>
				<string>101042300</string>
				<key>忠县</key>
				<string>101042400</string>
				<key>石柱</key>
				<string>101042500</string>
				<key>大足</key>
				<string>101042600</string>
				<key>荣昌</key>
				<string>101042700</string>
				<key>铜梁</key>
				<string>101042800</string>
				<key>璧山</key>
				<string>101042900</string>
				<key>丰都</key>
				<string>101043000</string>
				<key>武隆</key>
				<string>101043100</string>
				<key>彭水</key>
				<string>101043200</string>
				<key>綦江</key>
				<string>101043300</string>
				<key>酉阳</key>
				<string>101043400</string>
				<key>秀山</key>
				<string>101043600</string>
			</dict>
		</dict>
		<key>黑龙江</key>
		<dict>
			<key>哈尔滨</key>
			<dict>
				<key>哈尔滨</key>
				<string>101050101</string>
				<key>双城</key>
				<string>101050102</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
